body {
  font-family: "Roboto Condensed", sans-serif;
  color: #0c0c4d;
}

.la {
  font-size: 50px;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  margin: 2rem auto;
}

section {
  text-align: center;
  padding: 2rem;
}

.avatar {
  width: 100px;
}

.worktitle {
  font-style: italic;
}

.worktitle span {
  color: white;
  padding: 1em;
  background: lightblue;
  border-radius: 1em;
  text-shadow: 2px 2px black;
  box-shadow: 10px 10px 5px grey;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.progress__item {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.timeline {
  min-width: 200px;
  position: relative;
  padding: 2rem 0 0 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  background-color: grey;
  width: 3px;
  left: calc(50% - (3px/2));
  top: 20px;
  bottom: 0;
}

.timelineLogo {
  box-shadow: 0 0 0 0.4rem white;
  position: relative;
}

.timeline__item:before {
  content: "";
  position: absolute;
  color: white;
  background-color: lightblue;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: calc(50px/2);
  left: calc(50% - (50px/2));
  top: -70px;
}

.timeline__item {
  position: relative;
  width: 100%;
  border: 2px solid lightblue;
  margin: 3rem 0 6rem 0;
  padding: 2em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.timeline__item:first-child {
  border: 2px solid #0c0c4d;
}

.timeline__item:last-child {
  margin-bottom: 0;
}

.timeline__item--first:before {
  background-color: #0c0c4d;
}

.timeline .timeline__item--2021:before {
  content: "2021";
}

.timeline .timeline__item--2020:before {
  content: "2020";
}

.timeline .timeline__item--2019:before {
  content: "2019";
}

.timeline .timeline__item--2018:before {
  content: "2018";
}

.timeline .timeline__item--2017:before {
  content: "2017";
}

.timeline .timeline__item--2016:before {
  content: "2016";
}

.timeline .timeline__item--2015:before {
  content: "2015";
}

.timeline .timeline__item--2014:before {
  content: "2014";
}

.timeline .timeline__item--2013:before {
  content: "2013";
}

.timeline__content__title, .timeline__content__workplace {
  margin: 0;
  padding-bottom: 1em;
}

.timeline__content__workplace {
  color: rgba(12, 12, 77, 0.5);
  font-weight: bold;
  text-transform: uppercase;
}

.timeline__content__description {
  text-align: left;
}

@media screen and (min-width: 1000px) {
  .flex-main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: auto;
  }

  .wrapper {
    flex: 1;
  }

  section {
    margin: 1rem;
  }

  .title--inline:after {
    padding: 1px calc(50%/2.5) 0 0;
  }

  .timeline:before {
    left: calc(-10px - (3px/2));
  }

  .logoWrapper {
    text-align: left;
    position: absolute;
  }

  .timelineLogo {
    position: relative;
    left: calc(-10px - (50px/2));
    background: white;
    z-index: 1;
  }

  .timeline__item:before {
    left: calc(-10px - (50px/2) - 31.5px);
    top: 100px;
  }

  .timeline__item {
    margin-left: 30px;
  }

  .timeline__item:first-child .timeline__content:before {
    background-color: #0c0c4d;
  }

  .timeline__content:before {
    content: "";
    position: absolute;
    padding: 0.7em 2px;
    background-color: lightblue;
    transform: rotate(90deg);
    left: -15px;
    top: 115px;
  }
}
.title--block {
  font-weight: 100;
  text-transform: uppercase;
}

.title--inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}
.title--inline h1 {
  margin: 0 1rem;
}
.title--inline i {
  padding: 10px;
  font-size: 25px;
  border: 2px solid #aaaaaa57;
  border-radius: 1em;
}

.title--inline:after {
  content: "";
  position: relative;
  padding: 1px calc(100%/2.5) 0 0;
  border-bottom: 2px solid black;
}

.testimonial {
  position: relative;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 20px;
  text-align: left;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}
.testimonial__header {
  display: inline-block;
}
.testimonial__header span {
  padding-left: 1rem;
  font-weight: 100;
  font-size: small;
}
.testimonial .testimonial__avatar {
  position: absolute;
  right: -20px;
  top: -20px;
}
.testimonial .testimonial__avatar img {
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5rem white;
}

.section--links {
  text-align: left;
  margin: 0 50px;
}

.links--button {
  padding: 1em;
  border: 1px solid rgba(12, 12, 77, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  color: #0c0c4d;
}
.links--button:hover {
  background-color: rgba(122, 122, 122, 0.3);
}

.social__body {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-soundcloud {
  background: #fe6d35;
  color: white;
}

.fa-github {
  background: grey;
  color: white;
}

.fa-instagram {
  background: #285AEB;
  color: white;
}

/*# sourceMappingURL=style.css.map */
