$fontcolor: rgb(12, 12, 77);
$fontcolor-light: rgba(12, 12, 77,0.5);
body{
    font-family: 'Roboto Condensed', sans-serif;
    color: $fontcolor;
    // font-size: 10px;
}

.la{
    font-size: 50px;
}