.avatar{
    width: 100px;
}

.worktitle{
    font-style: italic;
}

.worktitle span{
    color: white;
    padding: 1em;
    background: lightblue;
    border-radius: 1em;
    text-shadow: 2px 2px black;
    box-shadow: 10px 10px 5px grey;
}