.section--links{
}

.section--cv{
    margin: 0 50px;
    text-align: left;
}

.links--button{
    padding: 1em;
    border: 1px solid $fontcolor-light;
    text-decoration: none;
    text-transform: uppercase;
    color: $fontcolor;
    &:hover{
        background-color: rgba(122,122,122,0.3)
    }
}

.social__body{
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 40px;
    // width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-soundcloud{
      background: #fe6d35;
      color: white;
  }

  .fa-github{
      background: grey;
      color: white;
  }

  .fa-instagram{
      background: #285AEB;
    //   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      color: white;
  }