@media screen and (min-width: 1000px){
    $timelineposition: -10px;
    $collumnwidth: 50%;
    body{
        // background-color: grey;
    }
    .flex-main{
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        margin: auto;
    }
    .wrapper{
        flex: 1;
    }
    section{
        margin: 1rem;
    }

    // Titles
    .title--inline:after{
        padding: 1px calc(#{$collumnwidth}/2.5) 0 0;
        // padding: 1px calc(50vw/2.5) 0 0;
        // border-bottom: 2px solid black;
    
    }

    // Timeline
    .timeline:before{
        // left: initial;
        // right: calc(#{$timelineposition} - (#{$timelinerulerwidth}/2));

        left:calc(#{$timelineposition} - (#{$timelinerulerwidth}/2));

    }
    .timeline{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-between;
        // align-content: stretch;
    }

    .logoWrapper{
        text-align: left;
        position: absolute;
    }
    .timelineLogo{
        position: relative;
        left: calc(#{$timelineposition} - (#{$timelineitemlogodiameter}/2));
        background: white;
        z-index: 1;
    }
    .timeline__item:before{
        // Right Position:
        // left: initial;
        // right: calc(#{$timelineposition} - (#{$timelineitemlogodiameter}/2) + 50px);

        left: calc(#{$timelineposition} - (#{$timelineitemlogodiameter}/2) - 31.5px);
        top: 100px;
    }
    .timeline__item{
        // white-space: nowrap;
        margin-left: 30px;
        // width: 40%;
    }

    .timeline__item:first-child .timeline__content:before{
        background-color: $fontcolor;
    }
    .timeline__content:before{
        content:"";
        position: absolute;
        padding: 0.7em 2px;
        background-color: lightblue;
        transform: rotate(90deg);
        left:-15px;
        // top: calc(50% - 1em/2);
        top: 115px;
    }
}