.timeline{
    // margin: 2rem auto;
    // width: $timelinewidth;
    min-width: 200px;
    position: relative;
    padding: 2rem 0 0 0;
    // margin: 2rem;
    list-style: none;
    // display: flex;
}

.timeline:before{
    content:"";
    position: absolute;
    background-color: grey;
    width: 3px;
    // left: calc((#{$timelinewidth}+#{$timelinerulerwidth})/2);
    // left: calc(50% - (#{$timelinerulerwidth}/2));
    left: calc(#{$timelineposition} - (#{$timelinerulerwidth}/2));
    top: 20px;
    bottom: 0;
    // z-index: -1;
}


// Timeline Item

.timeline__item:before{
    content:"";
    position: absolute;
    color: white;
    // padding: 1em;
    background-color: lightblue;
    line-height: $timelineitemlogodiameter;
    width: $timelineitemlogodiameter;
    height: $timelineitemlogodiameter;
    border-radius: calc(#{$timelineitemlogodiameter}/2);
    // left: calc((#{$timelinewidth - $timelineitemlogodiameter})/2);
    // left: calc((#{$timelinewidth} - #{$timelineitemlogodiameter})/2);
    left: calc(#{$timelineposition} - (#{$timelineitemlogodiameter}/2));
    top: -70px;
}

// .timeline__item:after{
//     content:"";
//     position: absolute;
//     background-color: rgba(255,255,0,0.1);
//     padding: 1em;
//     top: calc(50% - 0.5em);
//     z-index: -1;
// }

.timeline__item{
    position: relative;
    width: 100%;
    border: 2px solid lightblue;
    margin: 3rem 0 6rem 0;
    padding: 2em;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}

.timeline__item:first-child{
    border: 2px solid $fontcolor;
}

.timeline__item:last-child{
    margin-bottom: 0;
}

.timeline__item--first:before{
    background-color: $fontcolor;
}

.timeline .timeline__item--2021:before{
    content:"2021";
}
.timeline .timeline__item--2020:before{
    content:"2020";
}
.timeline .timeline__item--2019:before{
    content:"2019";
}
.timeline .timeline__item--2018:before{
    content:"2018";
}
.timeline .timeline__item--2017:before{
    content:"2017";
}
.timeline .timeline__item--2016:before{
    content:"2016";
}
.timeline .timeline__item--2015:before{
    content:"2015";
}
.timeline .timeline__item--2014:before{
    content:"2014";
}
.timeline .timeline__item--2013:before{
    content:"2013";
}

// timeline Content

.timeline__content__title, .timeline__content__workplace{
    // display: inline-block;
    margin: 0;
    padding-bottom: 1em;
}

.timeline__content__workplace{
    color: $fontcolor-light;
    font-weight: bold;
    text-transform: uppercase;
}

.timeline__content__description{
    text-align: left;
}