.testimonial{
    background-color:rgba($color: lightgrey, $alpha: 0.5);
    border-radius: 20px;
    text-align: left;
    padding: 2rem;
    margin-bottom: 1rem;

    &__header{
    display: inline-block;
    span{
        padding-left: 1rem;
        font-weight: 100;
        font-size: small;
    }
}

    &__body{
    }

}